{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <a href="{{ path("get_prize") }}">Получить приз</a>
    <br/>
    {% if app.user %}
        {{ get_all_prize(app.user)|nl2br }}
    {% endif %}
{% endblock %}
